/*
 * Alireza Meftahi 
 * Oct 05'17
 */
@charset "ISO-8859-1";

/* This will get rid of border offsets*/
* {
	box-sizing: border-box;
}

/* General style for body*/
body {
	background-color: #1A446C;
	color: white;
	margin: 0;
}

/* The header of the page*/
header {
	padding: 2%;
	background-color: #1A315D;
	height: 15%;
}

header h1 a {
	text-decoration: none;
	margin-left: 25px;
	color: white;
}

/* The main content area*/
article {
	padding: 0 2%;
}

/* Table for showign info*/
table.info {
	width: 50%;
	background: white;
	color: black;
	margin: auto;
	visibility: hidden;
}

table.info, table.info td, table.info th {
	border: 1px solid black;
	border-collapse: collapse;
}

table.menu {
	width: 50%;
	background: #1A315D;
	font-size: 2em;
	margin: 10% auto;
}

/* Panel for showing the input textbox and submit button */
.getInputPanel {
	text-align: center;
	margin: 2% auto;
	/*	background-color: yellow;*/
}

.info input {
	width: 100%;
}

.getInputPanel input {
	padding: 2%;
	font-size: 1.01em;
	font-weight: bold;
	width: 100%;
}

.getInputPanel input[type=text] {
	width: 100%;
}

.getInputPanel table {
	margin: 0 auto;
	width: 100%;
}

/* Css for the error messages */
.error {
	color: red;
	font-weight: bold;
	visibility: hidden;
	text-align: center;
}

.message {
	color: green;
	font-weight: bold;
	visibility: hidden;
	text-align: center;
}